* {
    margin: 0;
    padding: 0;
}

h1, h3, button, #output {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#filename {
    width: 25%;
}

button {
    font-weight: 400;
    color: #fff !important;
}

section>div {
    width: 50%
}

#editor {
    width: 100%;
    height: 100%;
    font-family: 'Monaco';
}

#output {
    border: 2px solid rgb(36, 107, 7);
    font-weight: 400 !important;
    overflow: auto;
}

#export {
    z-index: 2;
    top: 4rem;
    width: 15%;
}

@media screen and (max-width:1000px) {
    #filename {
        width: calc(100% - 4rem);
        margin:0 2rem 0 2rem !important
    }
    section {
        padding: 0 !important;
        flex-direction: column;
        align-items: center;
    }
    section>div {
        width: 100% !important;
    }
    #editor-wrap {
        top: 3rem;
        margin-left: 0 !important;
    }
    section>div {
        width: 50%;
        max-height: 50%;
    }
    #export {
        top: 7rem;
        width: 40%;
    }
}